*{
    font-family: 'Sunflower', sans-serif;
}

.sale-list-h1 {
	font-family: "M PLUS Rounded 1c";
	font-size: 1.8rem;
}

.content_h1title {
	font-family: "M PLUS Rounded 1c";
	font-size: 1.8rem;
	position: relative;
	padding: .1em .3em .1em 1.3em;
	border-bottom: 1px solid #00838F;
}
.content_h1title::before,.content_h1title::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
.content_h1title::before {
	top: .5em;
	left: .2em;
	width: 18px;
	height: 18px;
	background: rgba(0,131,143,.7);
}
.content_h1title::after {
	top: .8em;
	left: .5em;
	width: 13px;
	height: 13px;
	background: rgba(0,131,143,.5);
}

.uk-table td {
	padding: 16px 12px;
	vertical-align: inherit;
}

.span-label {
	font-family: "M PLUS Rounded 1c";
	font-size: 0.8rem;
}


/**
 * margin/padding 設定
 */

/* margin-left */
.ml-5{margin-left: 5px!important;}